gatt; sys_platform == 'linux'
pycairo ; sys_platform == 'linux'
PyGObject ; sys_platform == 'linux'
bleak; sys_platform == 'darwin' or sys_platform == 'linux'
coloredlogs
requests
protobuf3

urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
